<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Courses</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../static/assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="../static/assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="../static/assets/css/Stats-icons.css">
</head>
<body>

<div class="container py-4 py-xl-5">
    <Table hover size='sm' striped>
        <thead>
        <tr style="fontFamily: Raleway; fontSize: 13; textAlign: center">
            <th>School</th>
            <th>Course Number</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Workload</th>
            <th>Difficulty</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr style="fontSize: 15; textAlign: center">
                <td>{{course.institution_name}}</td>
                <td>{{course.course_number}}</td>
                <td style="textAlign: left">
                    <a href="/course/{{course.call_number}}">
                    {{course.name}}</a>
                </td>
                {% if course.rating %}
                    <td>{{course.rating | round(1) }}</td>
                    <td>{{course.workload | round(1) }}</td>
                    <td>{{course.difficulty | round(1) }}</td>
                {% else %}
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </Table>
</div>
</body>
</html>